### Imports

In [21]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import cross_val_score
from sklearn.ensemble import RandomForestClassifier

### Data

In [3]:
data = pd.read_csv('(19)_combined_verbose.csv')
data.head()

,--9,--8,--7,--6,--5,--4,--3,--2,--1,-0,...,z0,z1,z2,z3,z4,z5,z6,z7,z8,z9
0,1,1,1,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
labels = pd.read_csv('one_hot_labels.csv')
labels.head()

   B  C  E  G  H  I  S  T
0  0  1  0  0  0  0  0  0
1  0  1  0  0  0  0  0  0
2  0  1  0  0  0  0  0  0
3  0  0  0  0  1  0  0  0
4  0  0  0  0  1  0  0  0

In [13]:
# remove 'C' labels for hold-out validation set
ind = [i for i, l in enumerate(labels['C'].values) if l==1]

holdout_data = data.copy().values[ind]
holdout_labels = labels.copy().values[ind] # these aren't really labels

In [14]:
print data.shape, labels.shape
data.drop(ind, inplace=True)
labels.drop(ind, inplace=True)
print data.shape, labels.shape

(268675, 912) (268675, 8)
(215217, 912) (215217, 8)

In [15]:
# now drop the 'C' class
labels.drop('C', axis=1, inplace=True)

In [16]:
num_labels = np.asarray([list(row).index(1) for row in labels.values])
num_labels[:10]

array([3, 3, 3, 3, 3, 3, 3, 3, 3, 3])

### Splitting

In [23]:
X, y = data.values, num_labels

### Modeling

In [24]:
print cross_val_score(RandomForestClassifier(), X, y).mean()

0.539316480827