### Imports

In [1]:
from __future__ import print_function
import pandas as pd
import numpy as np
import os

### On a single file

In [2]:
topdir, _, files = next(os.walk('../clean_dssp_csv/'))

['1a3n.csv',
 '1b3n.csv',
 '1c3n.csv',
 '1d3n.csv',
 '1g3n.csv',
 '1h3n.csv',
 '1i3n.csv',
 '1j3n.csv',
 '1k3n.csv',
 '1l3n.csv']

In [3]:
ex_df = pd.read_csv(topdir+files[0])
ex_df.head()

,DSSP,PDB,CHAIN,AA,SS,3H,4H,5H,BEND,CHIR,...,ON2I,ON2E,TCO,KAPPA,ALPHA,PHI,PSI,X-CA,Y-CA,Z-CA
0,1,1.0,A,V,C,?,?,?,?,?,...,428,-0.0,0.000,360.0,360.0,360.0,157.5,10.2,20.8,6.8
1,2,2.0,A,L,C,?,?,?,?,-,...,0,0.0,-0.785,360.0,-142.6,-89.6,124.7,6.6,21.5,7.8
2,3,3.0,A,S,C,?,>,?,?,-,...,5,-0.3,-0.260,26.2,-103.3,-75.8,167.2,4.8,23.2,4.9
3,4,4.0,A,P,H,?,>,?,S,+,...,5,-0.2,0.929,126.4,49.2,-56.6,-43.6,2.3,26.0,5.3
4,5,5.0,A,A,H,?,>,?,S,+,...,5,-0.2,0.920,109.3,52.7,-66.7,-37.7,-0.5,23.4,4.5

In [6]:
ex_ss = ex_df[['SS']]
ex_ss.head()

  SS
0  C
1  C
2  C
3  H
4  H

In [9]:
# without forcing the columns --- we end up losing B, because it never appears
one_hot = pd.get_dummies(ex_ss)
one_hot[one_hot.columns] = one_hot[one_hot.columns].astype(int)
one_hot.head()

   SS_C  SS_G  SS_H  SS_I  SS_S  SS_T
0     1     0     0     0     0     0
1     1     0     0     0     0     0
2     1     0     0     0     0     0
3     0     0     1     0     0     0
4     0     0     1     0     0     0

In [43]:
def create_dummies(labels, ):
    """
    INPUT: labels is a single column DataFrame
    OUTPUT: data as a dummitized DataFrame
    """
    # initial variables
    cols = ['B', 'C', 'E', 'G', 'H', 'I', 'S', 'T']
    n = len(cols)
    data = []
    
    # have to reshape
    labels = labels.values.reshape(-1, )
    
    
    for l in labels:
        row = np.zeros(n, dtype=int)
        i = cols.index(l)
        row[i] = 1
        data.append(row)
    
    data = np.asarray(data)
    df = pd.DataFrame(data, columns=cols)
    
    return df

In [44]:
# correct now, keeps B even though never appears in file
one_hot_fix = create_dummies(ex_ss)
one_hot_fix.head()

   B  C  E  G  H  I  S  T
0  0  1  0  0  0  0  0  0
1  0  1  0  0  0  0  0  0
2  0  1  0  0  0  0  0  0
3  0  0  0  0  1  0  0  0
4  0  0  0  0  1  0  0  0

### On all files

In [46]:
n = len(files)

for i, fi in enumerate(files):
    per = int((i+1)*100.0/n)
    
    # print progress
    print('\r progress: '+str(per)+'%', end='')
    
    # get the data
    df = pd.read_csv(topdir+fi)
    
    # get labels
    labels = df[['SS']]
    
    # one hot
    one_hot = create_dummies(labels)
    
    # write out
    one_hot.to_csv('../one_hot_labels/'+fi, index=False)

 progress: 100%

In [50]:
ex_df = pd.read_csv('../one_hot_labels/1i3n.csv')
ex_df.head()

   B  C  E  G  H  I  S  T
0  0  1  0  0  0  0  0  0
1  0  1  0  0  0  0  0  0
2  0  0  1  0  0  0  0  0
3  0  0  1  0  0  0  0  0
4  0  0  1  0  0  0  0  0

In [49]:
ex2_df = pd.read_csv('../one_hot_labels/'+files[0])
ex2_df.head()

   B  C  E  G  H  I  S  T
0  0  1  0  0  0  0  0  0
1  0  1  0  0  0  0  0  0
2  0  1  0  0  0  0  0  0
3  0  0  0  0  1  0  0  0
4  0  0  0  0  1  0  0  0